@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

html {
  font-family: 'Lato', sans-serif;
  background-color: #ffffff;
}

.header {
  display: flex;
  width: 1440px;
  height: 90px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  padding: 0 40px;
  justify-content: space-between;
}

.logo {
  margin-right: 58px;
}

.gnb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 805px;
  margin-right: 60px;
}

.hamburger {
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  align-items: flex-end;
}

.hamburger button {
  border: none;
  background: transparent;
}

main {
  width: 1440px;
  padding: 40px;
  background-color: #f9fafc;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 274px;
  gap: 32px;
  color: #ffffff;
}

.data-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.data-container h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 49px;
  font-weight: bold;
}

.data-container h3 {
  font-size: 24px;
  font-weight: bold;
}

.label {
  padding: 9px 25px 10px 25px;
  background-color: #ff565c;
  color: #ffffff;
}

.data-container:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 1/3;
  text-align: center;
  background: url('../img/green-chameleon-176136.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.data-container:nth-child(2) {
  background-color: #ffffff;
  color: #000000;
  grid-column: 1;
  grid-row: 3/5;
}

.featured-stories {
  display: flex;
  flex-direction: column;
}

.data-container:nth-child(3) {
  background-color: orange;
  grid-column: 2/4;
  grid-row: 3/4;
  background: url('../img/oliur-rahman-272875.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
}

.data-container:nth-child(4) {
  background-color: green;
  grid-column: 2;
  grid-row: 4;
  background: url('../img/igor-son-285029.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
}

.data-container:nth-child(5) {
  background-color: rgb(167, 140, 90);
  grid-column: 3;
  grid-row: 4;
  background: url('../img/oliur-rahman-123819.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
}

.data-container:nth-child(6) {
  background-color: rgb(90, 167, 103);
  grid-column: 4;
  grid-row: 1;
  background: url('../img/oliur-rahman-123819.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
}

.data-container:nth-child(7) {
  background-color: #ff565c;
  grid-column: 4;
  grid-row: 2/4;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.Oswald {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 49px;
  letter-spacing: -0.47 px;
  text-transform: uppercase;
  font-weight: 500;
}

.data-container:nth-child(8) {
  background-color: rgb(127, 31, 131);
  grid-column: 4;
  grid-row: 4;
  background: url('../img/img.png') no-repeat #000000;
  background-size: cover;
  background-position: center;
}

footer {
  display: flex;
  padding: 40px;
  width: 1440px;
  height: 160px;
  background-color: #1d1f24;
  color: #ffffff;
  justify-content: space-between;
}

.subscribe {
  align-items: center;
  justify-content: center;
}

.sns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.sns span {
  margin-right: 19px;
  font-size: 14px;
}

.socials {
  display: flex;
}

.socials li {
  padding: 10px;
}

.social img {
  width: 16px;
  height: 16px;
}

footer ul {
  display: flex;
}

.email-form {
  display: flex;
  align-items: center;
}

.email-form input[type='email'] {
  width: 180px;
  height: 35px;
  padding-left: 15px;
  border: none;
}

.email-form button {
  width: 120px;
  height: 35px;
  background-color: #ff565c;
  color: #ffffff;
  border: none;
}
